@use "mixins" as *;
@use "colors" as *;

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-font: "Raleway", sans-serif;
	--title-font: "Montserrat", serif;
	--monospace-font: "Iosevka", "Ubuntu Mono", monospace;

	--background-color: var(--primary);
	--background-secondary: var(--background-b);

	&:not(.light):not(.dark) {
		@include light-mode;

		@include dark {
			@include dark-mode;
		}
	}

	&.light {
		@include light-mode;
	}

	&.dark {
		@include dark-mode;
	}
}

header,
aside {
	--background-color: var(--primary);
	--background-secondary: var(--background-b);
}

main {
	--background-color: var(--background-b);
	--background-secondary: var(--background);
}

footer {
	--background-color: var(--background);
	--background-secondary: var(--background-b);
}

html {
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	font-size: var(--font-size, 16px);
	font-family: var(--main-font);
	font-weight: 400;
}

[title] {
	cursor: help;
}

button,
input[type="submit"],
a {
	touch-action: manipulation;
}
