@use "mixins" as *;

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--main-font: "Raleway", sans-serif;
	--title-font: "Montserrat", serif;
	--monospace-font: "Iosevka", "Ubuntu Mono", monospace;

	--dark: -1;
	--text: hsl(240, 23%, 5%);
	--accent: hsl(322, 42%, 36%);
	--background: hsl(249, 21%, 83%);
	--primary: hsl(216, 41%, 88%);
	--background-b: hsl(206, 47%, 89%);

	@include dark {
		--dark: 1;
		--background: hsl(240, 23%, 5%);
		--accent: hsl(322, 42%, 56%);
		--text: hsl(249, 21%, 83%);
		--primary: hsl(216, 41%, 18%);
		--background-b: hsl(206, 47%, 9%);
	}

	--background-color: var(--primary);
	--background-secondary: var(--background-b);
}

header,
aside {
	--background-color: var(--primary);
	--background-secondary: var(--background-b);
}

main {
	--background-color: var(--background-b);
	--background-secondary: var(--background);
}

footer {
	--background-color: var(--background);
	--background-secondary: var(--background-b);
}

html {
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	font-size: var(--font-size, 16px);
	font-family: var(--main-font);
	font-weight: 400;
}

[title] {
	cursor: help;
}

button,
input[type="submit"],
a {
	touch-action: manipulation;
}
