@use "mixins" as *;

form {
	padding: 1rem;
	display: flex;
	margin: 0 auto;
	gap: 1em;
	flex-flow: column;
	width: clamp(15ch, 95%, 60ch);
	background: var(--bg-color);
	color: var(--text);
}

fieldset {
	border: 2px solid var(--text);
	border-radius: 8px;
	padding: 1rem;
	text-align: right;

	> div {
		text-align: left;
		display: grid;

		&:not(:last-child) {
			margin-bottom: 0.5em;
		}

		div {
			display: flex;
			flex-flow: column;

			label {
				font-weight: 400;
			}
		}
	}
}

legend {
	font-size: 1.1em;
	padding: 0 0.5em;
}

label {
	font-weight: 600;
}

input,
button,
textarea,
select {
	font-size: 0.9rem;
	accent-color: var(--accent);
	border: none;
	border-radius: 4px;
	padding: 0.5em 0.75em;
	box-shadow: none;
}

::placeholder {
	color: var(--bg-color-b);
}

button[type="submit"],
input[type="submit"] {
	appearance: none;
	background: var(--bg-color-b);
	font-size: 1rem;
	cursor: pointer;
	color: var(--text);
	align-self: end;
}

button,
progress {
	overflow: hidden;
}

button {
	position: relative;
	isolation: isolate;
	background: transparent;

	&::before {
		position: absolute;
		content: "";
		inset: 0;
		background: var(--bg-color-b);
		z-index: -1;
	}

	&:focus::before,
	&:focus-visible::before {
		opacity: 0.7;
	}
}

textarea {
	resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
	justify-self: start;
}

input[type="color"],
meter,
progress {
	width: 100%;
}

input[type="color"] {
	background: transparent;
	padding: 0;
}

meter {
	height: 100%;
}

progress {
	appearance: none;
	display: block;
	border-radius: 99em;
	height: 1em;

	&::-moz-progress-bar {
		background: var(--accent);
	}

	&:indeterminate {
		&::-moz-progress-bar {
			background: transparent;
		}

		background-image: linear-gradient(
			to right,
			var(--accent) 30%,
			transparent 30%
		);

		animation: 2s infinite indeterminate linear;
		background: 150% 150% top left no-repeat;
		background-size: 150% 150%;

		@include reducedMotion {
			background-image: repeating-linear-gradient(
				45deg,
				var(--accent),
				var(--accent) 20px,
				transparent 20px,
				transparent 40px
			);
			animation: none;
		}
	}
}

@keyframes indeterminate {
	from {
		background-position: 200% 0;
	}
	to {
		background-position: -200% 0;
	}
}

@include desktop {
	fieldset {
		> div {
			grid-template-columns: 2fr 5fr;
			column-gap: 0.5em;
		}
	}

	label {
		justify-self: end;
	}
}
