table {
	width: 100%;
	border-collapse: collapse;

	caption {
		font: 1.1rem var(--title-font);
	}

	th {
		font-weight: 700;
	}

	td,
	th {
		padding: 0.5em 1em;
	}

	tbody,
	tfoot {
		td,
		th {
			border: 1px solid var(--text);
		}
	}

	tbody {
		tr:nth-child(2n) {
			background: var(--primary);
		}
	}

	tfoot {
		background: var(--bg-color-b);
	}
}
