::selection,
mark {
	background: var(--accent);
	color: var(--bg-color);
}

details {
	border: 1px solid var(--text);
	border-radius: 4px;
	padding: 1em;

	summary {
		font-weight: 700;
		cursor: pointer;
	}

	&[open] {
		summary {
			margin: 0 0 1em 0;
		}
	}
}
